<div class="fullscreen chats-page">
    <div class="chats-page__chats">
        <div class="chats-page__chats-header">
            <div class="chats-page__to-profile-container">
                {{{ IconAppLink text="Профиль" href="/profile" }}}
            </div>
            {{{ SearchField }}}
        </div>
        <div class="chats-page__list">
            {{#each chatsList}}
                {{{ ChatItem userName=this.userName 
                        lastMessage=this.lastMessage
                        selected=this.selected
                        unreadMessagesCount=this.unreadMessagesCount 
                        time=this.time
                        lastYou=this.lastYou
                }}}
            {{/each}}
        </div>
    </div>
    <div class="chats-page__current">
        <div class="chats-page__current-top">
            <div class="chats-page__current-user">
                <div class="chats-page__current-user-img"></div>
                <div class="chats-page__current-user-name">Вадим</div>
            </div>
        </div>
        <div class="chats-page__current-body">
            {{#each messagesList}}
                {{{ Dialog message=this.message type=this.type user=this.user time=this.time }}}
            {{/each}}
        </div>
        <div class="chats-page__current-bottom">
            {{{ChatInput}}}
        </div>
    </div>
</div>
