<div class="profile-item">
    <label class="profile-item__label">{{label}}</label>
    {{#if isEdit}}
        {{{
            BaseInput 
                name=name
                ref="input"    
                type=type
                value=value
                placeholder=placeholder
                onBlur=onBlur
                className="profile-item__input"
        }}}
    {{else}}
        <span class="profile-item__value">{{value}}</span>
    {{/if}}
    {{{ ErrorMessage ref="validationMessage" }}}
</div>
